<div class="container">
  <h3 class="text-center alart alert-warning text-dark">
    <strong>マイページ</strong>
  </h3>

  <div class="row">
    <div class="col-md-6 text-center pt-4">
      <%= image_tag @end_user.get_profile_image, size:'200x200' %>
      <div class='mt-1'>
        <% if current_end_user == @end_user %>
          <%= link_to "プロフィールを編集", edit_end_user_path(current_end_user), class: "btn btn-dark btn-sm" %>
        <% end %>
      </div>
    </div>

    <div class="col pt-3">
      <h3><%= @end_user.name %></h3>
      <p class="pt-4">
        <%= link_to "フォロー", end_user_followers_path(@end_user) %>
        <%= @end_user.followers.count %>
      </p>
      <p><%= link_to "フォロワー", end_user_followings_path(@end_user) %>
         <%= @end_user.followings.count %>
      </p>
      <p><%=link_to"お気に入り投稿",likes_end_user_path(@end_user), class: "btn btn-warning btn-sm"%></P>
      <% if current_end_user != @end_user %>
        <% if current_end_user.following?(@end_user) %>
          <%= link_to "フォロー外す", end_user_relationships_path(@end_user.id), method: :delete %>
        <% else %>
          <%= link_to "フォローする", end_user_relationships_path(@end_user.id), method: :post %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col offset-1 pt-3">
      <h5>my投稿(<%= @post.count %>件)</h5>
      <div class="card-deck"><%= render "public/posts/index", posts: @post %></div>
      <div class="pt-3 offset-4"><%= paginate @post %></div>
    </div>
  </div>

</div>
