<h3 class="text-center alart alert-warning text-dark">
  <strong>投稿詳細</strong>
</h3>

<div class="container">
  <div class="row">
    <div class="col-5">
      <div class="card-deck">
        <div class="card" style="width: 300px;">
          <img class="bd-placeholder-img card-img-top" role="img" aria-label="画像の説明">
            <%= image_tag @post.get_image %>
          </img>
          <div class="card-body">
            <h5 class="card-text"><i class="fas fa-bread-slice"></i><strong><%= @post.title %></strong></h5>
            <p class="card-text"><%= @post.body %></p>
            <p class="card-text">店名：<%= @post.shop_name %></p>
            <p class="card-text">投稿者：
              <%= link_to @post.end_user.name, end_user_path(@end_user) %>
            </p>
            <p class="card-text"><%= @post.created_at.strftime('%Y/%m/%d') %></p>
            <p class="likes-btn"><%= render 'public/likes/btn', post: @post %></p>
            <div class="row justify-content-between mx-1">
            <% if @post.end_user == current_end_user %>
              <%= link_to edit_post_path(@post.id), class: "text-dark" do %>
                <i class="fas fa-edit" style="color:#000;"></i>編集
              <% end %>
              <%= link_to post_path(@post.id), method: :delete, "data-confirm" => "投稿を削除しますか？", class: "text-dark" do %>
                <i class="fas fa-trash-alt" style="color:#000;"></i>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-5 offset-1">
      <div><%= render "public/post_comments/form", post: @post, post_comment: @post_comment %></div>
      <div class="comment-counter text-right pt-2"><%= render "public/post_comments/counter", post: @post %></div>
      <div class="comment-index"><%= render "public/post_comments/index", post_comments: @post_comments %></div>
    </div>

  </div>
</div>







