<% if end_users.exists? %>
  <% end_users.each do |end_user| %>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td><%= image_tag end_user.get_profile_image, size:'100x100' %></td>
          <td><%= end_user.name %></td>
          <td>フォロー<%= end_user.followings.count %></td>
          <td>フォロワー<%= end_user.followers.count %></td>
          <td><%= link_to  "詳細", end_user_path(end_user.id), class: "btn btn-warning" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <h4 class="mt-5 pl-3">ユーザーはいません</h4>
<% end %>
