<div class="container">

  <% if @model == 'end_user' %>
  <h3><span class = "alart alert-warning text-dark">ユーザー検索結果</span>"<%= @content %>"</h3><br>
    <% if @records.count == 0 %>
      <h4>検索結果がありませんでした。</h4>
    <% else %>
      <%= render 'public/end_users/index', end_users: @records %>
    <% end %>
  <% elsif @model == 'post' %>
  <h3><span class = "alart alert-warning text-dark">投稿検索結果</span>"<%= @content %>"</h3><br>
    <% if @records.count == 0 %>
      <h4>検索結果がありませんでした。</h4>
    <% end %>
    <div class="row offset-md-1">
      <div class="card-deck mt-3">
        <%= render 'public/posts/index', posts: @records %>
      </div>
    </div>
  <% end %>
</div>

<div class="offset-5 pt-3"><%= paginate @records %></div>

