<div class="new-img">
  <h2 class="text-center">人気投稿TOP3</h3>
  <div class="container">
    <div class="row offset-md-1">
      <div class="card-deck mt-3">
      <% @all_ranks.each.with_index(1) do |post, i| %>
        <%= link_to post_path(post.id) do %>
        <h4 class="text-dark"><%= i %>位</h4>
          <div class="card text-dark bg-light" style="width: 280px;">
            <img class="card-img-top" role="img" aria-label="画像の説明">
              <%= image_tag post.get_image, size: "280x280" %>
            </img>
            <div class="card-body">
              <p class="card-text"><%= post.title %></p>
              <p class="card-text"><%= post.created_at.strftime('%Y/%m/%d') %></p>
              <p><i class="fas fa-heart" style="color: red;"></i><%= post.likes.count %>
                 <i class="fas fa-comment-dots"></i><%= post.post_comments.count %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>

