<h3 class="text-center alart alert-warning text-dark">
  <strong><%= @end_user.name %>さんの会員詳細</strong>
</h3>

<div class = "container" >
  <div class='row offset-3'>
    <div class='col-8 my-3'>
      <table class="table table-bordered">
        <tr>
          <th>会員ID</th>
          <td><%= @end_user.id %></td>
        </tr>
        <tr>
          <th>名前</th>
          <td><%= @end_user.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @end_user.email %></td>
        </tr>
        <tr>
          <th>ステータス</th>
          <% if @end_user.is_deleted? %>
            <td class="text-dark">退会</td>
          <% else %>
            <td class="text-success">有効</td>
          <% end %>
        </tr>
      </table>

    </div>
  </div>
</div>

<div class="text-center">
  <%= link_to "編集する", edit_admin_end_user_path, class: "btn btn-success" %>
  <%= link_to "会員一覧に戻る", admin_root_path, class: "btn btn-primary" %>
</div>



