<div class="container">
  <h3 class="text-center mb-3">ログイン</h3>

  <div class="row justify-content-center">
    <%= form_with model: @end_user, url: end_user_session_path do |f| %>

    <div class="form-group row">
      <%= f.label :"メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder => "メールアドレス" %>
    </div>

    <div class="form-group row">
      <%= f.label :"パスワード" %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="actions col-8 text-center">
      <%= f.submit "ログイン", class: 'btn btn-primary rounded-pill' %>
    </div>

    <% end %>
  </div>

  <div class="row ml-5 mt-5">
    <h5>会員登録がお済みでない方</h5>
  </div>

  <div class="row">
    <div class="col-4 offset-3">
     <%= link_to "こちら", new_end_user_registration_path %> から新規登録を行ってください。
    </div>
  </div>
</div>