<!DOCTYPE html>
<html>
  <head>
    <title>マルパン</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-white">
      <%= render "layouts/header" %>
      <div class="text-center">
        <% if flash[:notice] %>
          <p class="alert alert-success"><%= notice %></p>
        <% elsif flash[:alert] %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer>
      <p class="mt-5 mb-3 text-center ">&copy; マルパン 2022 </p>
    </footer>
  </body>
</html>



